name: Laravel Pint Check

on:
  pull_request:
  push:
    branches: [ main, master, develop ]

jobs:
  laravel-pint-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run Laravel Pint Check
        run: vendor/bin/pint --test
